*, ::before, ::after
{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

body 
{
    height: 100vh;
    background: linear-gradient(to right, #1488cc, #2b32b2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: Arial, Helvetica, sans-serif;
}

.container
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionChrono, .sectionScore
{
    font-size: 2rem;
    font-weight: 600;
    margin: 20px 0;
}

.sectionEcriture
{
    width: 40%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
}

.sectionEcriture p
{
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.sectionEcriture textarea
{
    padding: 10px;
    border: 2px solid #333;
    border-radius: 5px;
    font-size: 1.2rem;
    resize: none;
}

.correct
{
    color: green;
}

.incorrect
{
    color: red;
    text-decoration: underline;
}


